<ul id="navMenu">
    <li> <a href="@Url.Action("Summary",       "Mission", ViewContext.RouteData.Values)">SUMMARY</a></li>
    <li>|<a href="@Url.Action("Qualities",     "Mission", ViewContext.RouteData.Values)">QUALITIES</a></li>
    <li>|<a href="@Url.Action("Complications", "Mission", ViewContext.RouteData.Values)">COMPLICATIONS</a></li>
    <li>|<a href="@Url.Action("Bundles",       "Mission", ViewContext.RouteData.Values)">BUNDLE</a></li>
    <li>|<a href="@Url.Action("Scenes",        "Mission", ViewContext.RouteData.Values)">SCENES</a>
    </li>
</ul>

