@{
    var baseRoute = new { missionid = ViewContext.RouteData.Values["id"], action = "Qualities" };
}
<ul id="navMenu">
    <li> <a href="@Url.Action("Editing",       "Mission")">SUMMARY</a></li>
    <li>|<a href="@Url.Action("Qualities",     "Mission", baseRoute)">QUALITIES</a></li>
    <li>|<a href="@Url.Action("Complications", "Mission", baseRoute)">COMPLICATIONS</a></li>
    <li>|<a href="@Url.Action("Bundles",       "Mission", baseRoute)">BUNDLE</a></li>
    <li>|<a href="@Url.Action("Scenes",        "Mission", baseRoute)">SCENES</a></li>
</ul>

@*<text>Route:@Url.RouteUrl("MissionDefault", new { missionid = ViewContext.RouteData.Values["id"], action="Qualities" })</text>*@