@{
    Bundles.Reference("templateScripts");
    Bundles.Reference("templateStyles");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SCv20 Online Tools: @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    @Bundles.RenderStylesheets()
    
    @Html.Partial("_styleIncludes")

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <script type="text/javascript" src="/content/template/js/moderniz.js"></script>
</head>

<body>
    <!--BEGIN HEADER-->
    <div id="header" role="banner">
        <a id="menu-link" class="head-button-link menu-hide" href="#menu"><span>Menu</span></a>
        <!--Logo-->
        <a href="/content/template/dashboard.html" class="logo">
            <h1>SCv20 Online Tools</h1>
        </a>
        <!--Logo END-->

        <!--Search-->
        <form class="search" action="#">
            <input type="text" name="q" class="input-xlarge" placeholder="Search...">
        </form>
        <!--Search END-->

        <div class="right">
            <div class="dropdown left">
                @Html.Partial("_messageBox")
            </div>

            <div class="dropdown left">
                @Html.Partial("_notificationBox")
            </div>

            <div class="dropdown left">
                @Html.Partial("_configBox")
            </div>

            <div class="dropdown left profile">
                @Html.Partial("_profileBox")
            </div>
        </div>
    </div>
    <!--END HEADER-->

    <div id="wrap">
        <!--BEGIN SIDEBAR-->
        <div id="menu" role="navigation">
            <div id="main-menu">
                @Html.Partial("_mainMenu")
            </div>

            <div id="local-menu">
                @Html.Partial("_localMenu")
            </div>

            <div id="new-files">
                @Html.Partial("_newFiles")
            </div>

            <div id="upload-box">
                @Html.Partial("_uploadBox")
            </div>

            <div id="media-files">
                @Html.Partial("_mediaFiles")
            </div>

            <div id="add-widget">
                @Html.Partial("_addWidget")
            </div>

            <div class="clearfix"></div>
        </div>
        <!--SIDEBAR END-->


        <!--BEGIN MAIN CONTENT-->
        <div id="main" role="main">
            
            <!--BEGIN .block-->
            <div class="block">
                <div class="clearfix"></div>
                
                <!--page title-->
                <div class="pagetitle">
                    <h1>@ViewBag.Title</h1>
                    @*
                    <div class="btn-group">
                      <button class="btn">Day</button><button class="btn">Week</button><button class="btn">Month</button>
                    </div>
                    *@
                    <div class="clearfix"></div>
                </div>
                <!--page title end-->
                

                <!--page body-->
                <div id="page-body">
                    <div class="clearfix"></div>
                    @RenderBody()
                    @*                    
                    <!--Input fields Start-->
                    @Html.Partial("forms/_inputFields")
                    @Html.Partial("forms/_fluidForms")
                    @Html.Partial("forms/_additionalInputFields")
                    @Html.Partial("forms/_checkBoxAndRadio")
                    <!--Input fields END-->
                    *@
                </div>
                <!--page body end-->
                

                <!--page footer-->
                @*<div id="page-footer">@Html.Partial("_footer")</div>*@
                <!--page footer end-->

                <div class="clearfix"></div>
            </div>
            <!--END .block-->

        </div>
        <!--MAIN CONTENT END-->

        <!--BEGIN FOOTER CONTENT-->
        @*<div id="page-footer">@Html.Partial("_footer")</div>*@
        <!--END FOOTER CONTENT-->
    </div>
    <!--/#wrapper-->
    @Bundles.RenderScripts()
    @Html.Partial("_scriptIncludes")
</body>
</html>
